<%= render 'common/header' %>
<h1>Categories</h1>

<div>
  <% @groups.each do |category| %>
    <div>
      <div>
        <div>
          <%= image_tag category.icon rescue image_tag('https://img.icons8.com/?size=512&id=kLORTzuNOM2d&format=png', alt: "Category Icon") %>
        </div>
        <div>
          <h2><%= link_to category.name, group_payments_path(group_id: category.id) %></h2>
          <p><%= l category.created_at.to_date, format: :long %></p>
        </div>
      </div>
      <div>
        <p>$<%= Payment.where(group_id: category.id).sum(:amount) %></p>
        <%= button_to 'Delete', group_path(id: category.id), method: :delete%>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add a Category", new_group_path %>