<nav class="login-header flex">
  <%= link_to image_tag("https://i.postimg.cc/28jqpTJJ/pngaaa-com-4731717.png' border='0' alt='pngaaa-com-4731717"), root_path, class: 'back-arrow' %>
  <h2>Log in</h2>
</nav>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
  <div class="field">
    <%= form.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: 'email' %>
  </div>

  <div class="field">
    <%= form.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="rememberable">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
